# Default behaviour, for if core.autocrlf isn't set
* text=auto
/ocaml-stub  text eol=lf
/release text eol=lf
/itest text eol=lf
/configure text eol=lf
/mini/ocamlfind-mini text eol=lf
/tools/cmd_in_different_dirs text eol=lf
/tools/file_exists text eol=lf
/tools/safe_camlp4 text eol=lf
/tools/make-package-macosx text eol=lf
/tools/patch text eol=lf
/tools/cmd_from_same_dir text eol=lf
/tools/collect_files text eol=lf
